/* LeftNav styling */
.left-nav {
  width: 250px;
  margin-top: 50px;
  background-color: #0a5c51;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -250px;
  transition: left 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  color: #fcf9f9;
}

.left-nav.open {
  left: 0;
}

body.dark-mode .left-nav {
  background-color: #222;
  color: #f0f0f0;
}

/* Hamburger button */
.hamburger {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #f0f0f0;
  display: none;
}

/* Styling for the links inside the sidebar */
.link-card ul {
  margin-top: 50px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-card .link-item {
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.link-card .link-item:hover {
  background-color: #088474;
}

/* Dropdown styling */
.dropdown {
  background-color: #0a5c51;
}

  /* Chevron Icon Animation */
  .fa-circle-chevron-up, .fa-circle-chevron-down {
    transition: transform 0.3s ease;
  }
  
  .fa-circle-chevron-up {
    transform: rotate(180deg);
  }

 /* Dropdown Item (Independent Cards) */
 .dropdown-item {
  padding: 10px 15px;
  background-color: #096c5f; /* Same as link item color */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  width: 70%; /* Full width within its container */
}
body.dark-mode .dropdown-item {
  background-color: #1f1d1d;
  color: #f0f0f0;
}
.dropdown-item:active {
  background-color: #088474;
}

.dropdown-item:hover {
  background-color: #088474;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* On smaller screens, show the hamburger button */
  .hamburger {
    display: block;
  }

  /* Collapse the sidebar */
  .left-nav {
    left: -250px;
  }

  .left-nav.open {
    left: 0;
  }

  .content-area {
    margin-left: 0;
  }
}

@media (min-width: 769px) {
  .hamburger {
    display: none;
  }

  .left-nav {
    left: 0;
  }

  .content-area {
    margin-left: 250px;
  }
}
